<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RetroKit</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.44.0/apexcharts.min.js"
    integrity="sha512-9ktqS1nS/L6/PPv4S4FdD2+guYGmKF+5DzxRKYkS/fV5gR0tXoDaLqqQ6V93NlTj6ITsanjwVWZ3xe6YkObIQQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="/admincss/home.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

</head>

<body>

    
 <div class="wrapper"> 
    <aside id="sidebar" class="js-sidebar">
        <div class="h-100">
            <div class="sidebar-logo">
                <a href="/admin/dashboard"> Retro Kit </a>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Admin Panel
                </li>
                <li class="sidebar-item">
                    <a href="/admin/dashboard" class="sidebar-link">
                        <i class="fa-solid fa-list pe-2"></i>
                        Dashboard
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/admin/userManagement" class="sidebar-link" 
                        aria-expanded="false"><i class="fa-solid fa-users pe-2"></i>
                        Users
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/admin/Products" class="sidebar-link" 
                        aria-expanded="false"><i class="fa-solid fa-product-hunt pe-2"></i>
                        Products
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/admin/category" class="sidebar-link" 
                        aria-expanded="false"><i class="fa-solid fa-list-alt pe-2"></i>
                        Category
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/admin/inventory" class="sidebar-link" 
                        aria-expanded="false"><i class="fa-solid fa-tasks pe-2"></i>
                        Inventory/Stock
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/admin/orders" class="sidebar-link" 
                        aria-expanded="false"><i class="fa-solid fa-shopping-basket pe-2"></i>
                        Orders
                    </a>
                </li>
                
                <li class="sidebar-item">
                    <a href="/admin/coupon" class="sidebar-link" 
                        aria-expanded="false"><i class="fa-solid fa-ticket pe-2"></i>
                        Coupons
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/admin/offer" class="sidebar-link" 
                        aria-expanded="false"><i class="fa-solid fa-folder pe-2"></i>
                        Category Offers
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/admin/analytics" class="sidebar-link" 
                        aria-expanded="false"><i class="fa-solid fa-area-chart pe-2"></i>
                        Analytics
                    </a>
                </li>
            </ul>

            <li class="sidebar-item">
                <a href="/admin/logout" class="sidebar-link">LOGOUT</a>
            </li>

        </div>
    </aside>
    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
            <button class="btn" id="sidebar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse navbar">
                <ul class="navbar-nav">
                    
                     
                </ul>
            </div>
        </nav>