<%- include('../userLayouts/userHeader.ejs') %>

<section class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-black">

                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                    <form action="/changePassword" method="post" style="width: 23rem; border-radius: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px; " class="mx-auto">

                        <h3 class="fw-bold text-center mb-3 pb-3" style="letter-spacing: 1px;">Change Password</h3>


                        <div class="form-outline mb-4">
                            <label class="form-label">Enter new password</label>
                            <input type="password" name="password" class="form-control form-control-lg" />
                            <input type="hidden" name="user_id" value="<%= user_id %>">

                        </div> 
                        
                        
                        <input type="submit" value="Change Password" class="btn btn-primary btn-lg btn-block">

                    </form>

                </div>

            </div>
        </div>
    </div>
</section>


    <%- include('../userLayouts/userFooter.ejs') %>