<%- include('../userLayouts/userProfileSidebar.ejs') %>


<section>
    <div class="container">
        <form class="form-horizontal" method="post" action="/password">
            <!-- Form Name -->
            <legend class="text-center">Password</legend>
          
            <!-- current Password -->
            <div class="form-group">
                <label class="col-md-12 control-label text-center" for="currentPassword">Current Password</label>
                <div class="col-md-4 offset-md-4 text-center">
                  <input name="currentPassword" class="form-control input-md">
                </div>
              </div>

            <!-- submit-->
            <div class="form-group">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-success">Confirm</button>
                </div>
              </div>
        
          </form>
          <p class="small col-md-12 text-center"><a class="text-muted" href="/forget">Forgot password?</a></p>
    </div>
</section>

<%- include('../userLayouts/userMainFooter.ejs') %>